
.Cabecera{
	font-family: 'Helvetica';
	width: 100%;
	height: 59px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(250,250,250,1);
	z-index: 100;
	display: inline-block;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
}
.Menu{
	margin: 0 60px 0 0;
	float: right;
	content: "";
	display: block;
}
.LogoC{
	margin-top: 10px;
	height: 38px;
	margin-left: 20px;
	padding-bottom: 3px;
	border-bottom: 2px solid #fafafa;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.LogoC:hover{
	border-bottom: 2px solid #000;
}
.NavC{
	color: #000;
}

.Menu li{
	display: inline-block;
	position: relative;
	z-index:100;
}

.Menu li a {
	text-decoration: none;
	padding:20px;
	display:block;
	color:#000;
	font-size: 17px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.Menu li a:hover, .Menu li:hover > a{
	color:#ffffff;
	background:#000;
}

.Selec{
	color: #fff;
}

.Menu ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 150px;
	position: absolute;
	top: 59px;
	left: 0px;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
	 
/* display second level menu on hover */
.Menu li:hover > ul{ 
	display: block;
}

 
.Menu ul li {
	display:block;
	float: none;
	background:none;
	margin:0;
	padding:0;
}
	 
.Menu ul li a {	
	font-size: 14px;
	font-weight: normal;
	display: block;
	color: #3a3a3a;
	border-left: 3px solid #fafafa;
	border-bottom: 1px solid #000;
	background: #fafafa;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
	 
.Menu ul li a:hover, .Menu ul li:hover > a{
	background:#2a2a2a;
	border-left:3px solid #000;
	color:#fff;
}
.Menu ul ul {
	left: -150px;
	top: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.BotonMenu{
	z-index: 10000;
	position: fixed;
	top: 18px;
	right: 20px;
	background-image: url('../Multimedia/Cruz.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
	-ms-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.BotonMenu:hover{
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
}

.BotonMenu:active{
	transform: paused;
}
.MenuM{
	display: none;
	max-height: 27px;
}

input[type="checkbox"]{
	display: none;
}
.MenuContM{
	display: none;
	width: 100%;
	position: absolute;
	top: 46px;
	max-height: 300px;
	overflow: auto;
	background: rgba(250,250,250,1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #000;
}
.cbTitulo{
	width: 100%;
	margin-top: 15px;
	text-align: center;
}
.bTitulo{
	text-decoration: none;
	color: #000;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
}
.cbElem{
	border-bottom: 1px dotted #808080;
	padding-bottom: 3px;
}

.cbElem{
	width: 80%;
	margin: 10px auto;
	line-height: 1.5em;
}
.bElem{
	text-decoration: none;
	color: #000;
	font-size: 1em;
	font-family: 'Helvetica';
	display: block;
}

@media only screen and (max-width: 600px){
	.Menu{
		display: none;
	}
	.Cabecera{
		height: 45px;
		border-bottom: 1px solid black;
		border-top: 1px solid black;
	}
	.BotonMenu{
		height: 20px;
		width: 20px;
		top: 15px;
		right: 15px;
	}
	.LogoC{
		margin-top: 7px;
		height: 30px;
	}
	.MenuM{
		position: absolute;
		top: 12px;
		left: 20%;
		margin: 0;
		content: '';
		float: right;
		padding-left: 0;
		min-width: calc(100% - 118px);
		min-width: -moz-calc(100% - 118px);
		min-width: -webkit-calc(100% - 118px);
		display: block;
		/*border: 1px solid #000;*/
	}
	.MenuM li{
		display: inline-block;
		margin-right: 15%;
	}
	.MenuM li:last-child{
		margin-right: 0;
	}
	.Cabecera input{
		display: none;
	}
	.MenuM img{
		height: 23px; /*Aquí*/
		-webkit-filter: brightness(200%);
		-moz-filter: brightness(200%);
		-o-filter: brightness(200%);
		-ms-filter: brightness(200%);
		filter: brightness(200%);
		-webkit-transition: filter 1s linear;
		-moz-transition: filter 1s linear;
		-o-transition: filter 1s linear;
		-ms-transition: filter 1s linear;
		transition: filter 1s linear;
	}
	.MenuM img:hover{
		-webkit-filter: brightness(0%);
		-moz-filter: brightness(0%);
		-o-filter: brightness(0%);
		-ms-filter: brightness(0%);
		filter: brightness(0%);
	}

}