.Cuerpo{
	max-width: 100%;
	overflow-y: hidden;
	min-height: 100%;
	background: url('../Multimedia/Fondos/31.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-bottom: 0;
}
.Contenido{
	margin-top: 80px;
	margin-left: 90px;
	width: 70%;
	margin-bottom: 0;
}

.Titulo{
	margin-top: 0px;
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
}

form{
	width: 100%;
	-webkit-appearance: none; -moz-appearance: none;
}

.FElem{
	display: block;
	font-size: 1.3em;
	padding-left: 10px; 
	font-family: 'Kalam';
	margin-top: 20px;
	width: 100%;
}

.FIzq{
	float: left;
	width: 40%;
}

textarea{
	-webkit-appearance: none; -moz-appearance: none;
	margin-top: 20px;
	float: left;
	width: 50%;
	display: block;
	font-size: 1em;
	padding-left: 10px; 
	font-family: 'Kalam', cursive;
	height: 10em;
	margin-left: 50px;
}

input[type="submit"]{
	-webkit-appearance: none; -moz-appearance: none;
	margin-top: 20px;
	padding: 7px 0;
	width: 150px;
	background: rgba(250,250,250,1);
	border: 1px solid #000; 
	font-size: 1em;
	font-family: 'Kalam', cursive;
}

#TGracias, #TextoG, #Otro{
	display: none;
}
#TError, #TextoE, #OtroSad{
	display: none;
}
.Pie{
	margin-top: 0;
}

@media only screen and (max-width: 720px){
	.Contenido{
		margin-left: 7%;
		margin-top: 60px;
		width: 85%;
	}
	.Titulo{
		font-size: 2em;
	}
	.Contenido p, .ListaContenido, .EjemploN, .EjemploK, .EjemploC, .EjemploPc{
		font-size: 1em;
	}
	.FIzq{
		width: 100%;
		margin-bottom: 20px;
	}
	.FElem{
		font-size: 1em;
	}
	textarea{
		float: none;
		height: 6em;
		margin-left: 0;
		width: 100%;
	}
	.Pie{
		margin-top: 0;
	}
}