.GloboD {
    position: relative;
    display: inline-block;
}
.GloboD .GloboDT {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 102%;
    left: 50%;
    margin-left: -60px;
    font-family: 'Kalam';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.GloboD .GloboDT:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;

}
.GloboD:hover .GloboDT {
    visibility: visible;
}

.GloboL {
    position: relative;
    display: inline-block;
}

.GloboL .GloboLT {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    font-family: 'Kalam';
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 105%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.GloboL .GloboLT::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.GloboL:hover .GloboLT {
    visibility: visible;
}


.GloboR {
    position: relative;
    display: inline-block;
}
.GloboR .GloboRT {
    visibility: hidden;
    max-width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 100%;
    font-family: 'Kalam';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.GloboR .GloboRT::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.GloboR:hover .GloboRT {
    visibility: visible;
}


.GloboT {
    position: relative;
    display: inline-block;
}
.GloboT .GloboTT {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-family: 'Kalam';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.GloboT .GloboTT::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.GloboT:hover .GloboTT {
    visibility: visible;
}

@media only screen and (max-width: 600px){
    .GloboL .GloboLT{
        left: 72%;
    }
}