@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
.Cabecera{
	display: none;
}
.Cuerpo, .Contenido{
	margin-bottom: 0;
}

.Pantalla{
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
}

.Pre-fondo{
	background-image: url('../Multimedia/color.jpg');
	background-size: cover;
}

#I{
	background-image: url('../Multimedia/Fondos/41.jpg');
}
#P{
	background-image: url('../Multimedia/Fondos/42.jpg');
}
#S{
	background-image: url('../Multimedia/Fondos/43.jpg');
}
#T{
	background-image: url('../Multimedia/Fondos/44.jpg');
}
#C{
	background-image: url('../Multimedia/Fondos/45.jpg');
}
#Q{
	background-image: url('../Multimedia/Fondos/46.jpg');
}
#SX{
	background-image: url('../Multimedia/Fondos/47.jpg');
}
#SP{
	/*background-image: url('../Multimedia/Fondos/79.jpg');*/
}
#O{
	background-image: url('../Multimedia/Fondos/48.jpg');
	padding-top: 10%;
}

iframe{
	position: absolute;
	width: 100%;
	height: 100%;
}

.Titulo{
	position: relative;
	margin-top: 0px;
	font-size: 9vw;
	font-family: 'Kaushan Script', cursive;
	padding: 30px 0;
	margin-bottom: 15%;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	text-align: center;
}
.Start{
	padding: 30px;
	min-width: 40%;
	border: 3px solid #ddd;
	display: inline;
	position: relative;
	float: left;
	background-color: rgba(255,255,255,0.7);
	font-family: 'Kaushan Script', cursive;
	font-size: 4vw;
	border-radius: 5px;
	text-align: center;
	box-sizing: border-box;
	margin-left: 6.666666%
}
.Start a{
	text-decoration: none;
	color: #000;
}
@media only screen and (max-width: 1024px){
	.Pantalla{
		background-attachment: scroll;
	}
}
@media only screen and (orientation: portrait){
	#I{
		background-image: url('../Multimedia/Fondos/41v.jpg');
	}
	#P{
		background-image: url('../Multimedia/Fondos/42v.jpg');
	}
	#S{
		background-image: url('../Multimedia/Fondos/43v.jpg');
	}
	#T{
		background-image: url('../Multimedia/Fondos/44v.jpg');
	}
	#C{
		background-image: url('../Multimedia/Fondos/45v.jpg');
	}
	#Q{
		background-image: url('../Multimedia/Fondos/46v.jpg');
	}
	#SX{
		background-image: url('../Multimedia/Fondos/47v.jpg');
	}
	#SP{
		/*background-image: url('../Multimedia/Fondos/79.jpg');*/
	}
	#O{
		background-image: url('../Multimedia/Fondos/48.jpg');
	}
}
	