---
layout: General
title: Problemas resueltos C++
---

<ul id="ListaTemas">
  {% for problema in site.Resueltos-C %}
    <li>
	    <div class="Subtitulo"><a href="{{ problema.url }}">{{ problema.title }}</a></div>
	    <int>
        {% assign m = problema.date | date: "%-m" %}
        {{ problema.date | date: "%-d" }}
        {% case m %}
          {% when '1' %}Enero
          {% when '2' %}Febrero
          {% when '3' %}Marzo
          {% when '4' %}Abril
          {% when '5' %}Mayo
          {% when '6' %}Junio
          {% when '7' %}Julio
          {% when '8' %}Agosto
          {% when '9' %}Septiembre
          {% when '10' %}Octubre
          {% when '11' %}Noviembre
          {% when '12' %}Diciembre
        {% endcase %}
        {{ problema.date | date: "%Y" }} | Por: {{ problema.author }}
      </int>

	    {{ problema.excerpt }}
	    
	    {% for tag in problema.tags %}
            <a class="TagPost" href="{{ site.url }}/Problemas-resueltos/C++/Tags/#{{ tag | slugify }}"><i class="fa fa-tag"></i> {{ tag }}</a>
        {% endfor %}
    </li>
  {% endfor %}
</ul>