<footer>
	<img id="PCielo" src="{{ site.iP-Sources }}/Multimedia/Pie/Cielo.png" width="100%">
	<div id="Movile">
		<a href="{{ site.url }}/Contacto/">Contacto</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="{{ site.url }}/Blog/">Blog</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="{{ site.url }}/">Inicio</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="{{ site.url }}/Acerca-de/">Acerca de</a>
	</div>
	<div id="PCiudad">
		<img src="{{ site.iP-Sources }}/Multimedia/Pie/Ciudad.png" width="100%">
	</div>
	<div id="PTextos">
		<div class="PBloque">
			<div class="PTitulo">
				Contacto
			</div>
			<div class="PTexto">
				<a href="mailto:includepoetry@gmail.com">Correo</a>
				<a href="{{ site.url }}/Contacto/">Contacto</a>
			</div>
		</div>
		<div class="PBloque">
			<div class="PTitulo">
				Sobre el sitio
			</div>
			<div class="PTexto">
				<a href="{{ site.url }}/Acerca-de/">Acerca de</a>
				<a href="{{ site.url }}/Equipo/rivel_co">Sobre rivel_co</a>
			</div>
		</div>
		<div class="PBloque">
			<div class="PTitulo">
				Para el lector
			</div>
			<div class="PTexto">
				<a href="{{ site.url }}/Code/Motivacion">Motivate</a>
				<a href="{{ site.url }}/Blog/">Blog</a>
			</div>
		</div>
		<div class="PBloque" id="PBUltimo">
			<div class="PTitulo">
				Cursos
			</div>
			<div class="PTexto">
				<a href="{{ site.url }}/Code/">Informática</a>
				<!--<a href="{{ site.url }}/Notes/Biology/">Biología</a>-->
			</div>
		</div>
		<div id="PIzq">
			<img id="PLogoB" src="{{ site.iP-Sources }}{{ site.logo-grande-b }}">
			Proudly hosted by:
			<a href="https://github.com/" target="_blank"><img id="PGit" src="{{ site.iP-Sources }}/Multimedia/Pie/Git.png"></a>
		</div>
	</div>
	<div id="PFirma">
		&copy; 2017 #Include Poetry | Otra obra de rivel_co
	</div>
</footer>
	