		{% include G-HBar.html %}
		<nav id="NavUl">
			<ul id="MainUl">
				<li data-son="MKarel"><a href="#">Karel</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li data-son="MC"><a href="#">C++</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.url }}/Code/Recursos/Descargables/">Recursos</a></li>
				<li data-son="MMIP"><a href="#">Más de #iP</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
			</ul>

			<ul id="MKarel">
				<li data-son="MKStart"><a href="#">Para empezar</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li data-son="MKIns"><a href="#">Instrucciones</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.url }}/Code/Karel/Funciones/">Funciones</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Problemas/">Problemas de Karel</a></li>
				<li data-son="MKRec"><a href="#">Recursión</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.url }}/Code/Topicos-adicionales/Karel/">Tópicos adicionales</a></li>
			</ul>

			<ul id="MKStart">
				<li><a href="{{ site.url }}/Code/Karel/Principio/Karel/">Karel el robot</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Principio/Mundo/">Mundo de Karel</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Principio/Zumbadores/">Zumbadores</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Principio/Simulador/">El simulador</a></li>
			</ul>
			<ul id="MKIns">
				<li><a href="{{ site.url }}/Code/Karel/Instrucciones/Lineales/">Lineales</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Instrucciones/Condicionales/">Condicionales</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Instrucciones/Ciclicas/">Ciclicas</a></li>
			</ul>
			<ul id="MKRec">
				<li><a href="{{ site.url }}/Code/Karel/Recursion/">Idea de recursión</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Recursion/Simple/">Recursión simple</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Recursion/Parametros/">Recursión con parámetros</a></li>
			</ul>

			<ul id="MC">
				<li data-son="MCInt"><a href="#">Introducción</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li data-son="MCSTL"><a href="#">STL</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.url }}/Code/C++/Recursion/">Recursión</a></li>
				<li><a href="{{ site.url }}/Code/Problemas-resueltos/C++/">Problemas resueltos</a></li>
				<li><a href="{{ site.url }}/Code/Topicos-adicionales/C++/">Tópicos adicionales</a></li>
			</ul>
			<ul id="MCInt">
				<li><a href="{{ site.url }}/Code/C++/Lenguaje/">Lenguaje C++</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/">La programación</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Compilador/">Compilador</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Variables/">Variables</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Librerias/">Librerías</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Operadores/">Operadores</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Funciones/">Funciones</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Sentencias/">Sentencias</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Arreglos/">Arreglos</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Estructuras/">Estructuras</a></li>
			</ul>
			<ul id="MCSTL">
				<li><a href="{{ site.url }}/Code/C++/STL/">STL</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/Vector/">Vector</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/String/">String</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/Queue/">Queue</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/Stack/">Stack</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/List/">List</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/Pair/">Pair</a></li>
			</ul>
			
			<ul id="MMIP">
				<li><a href="{{ site.url }}/Acerca-de/">Acerca de</a></li>
				<li data-son="MCur"><a href="#">Cursos</a><i class="fa fa-caret-down" aria-hidden="true"></i></li>
				<li><a href="{{ site.url }}/Contacto/">Contacto</a></li>
				<li><a href="{{ site.url }}/Code/Motivacion/">¡Motivate!</a></li>
				<li><a href="{{ site.url }}/Blog/">Blog</a></li>
			</ul>
			<ul id="MCur">
				<li><a href="{{ site.url }}/Code/">Olimpiada de Informática</a></li>
				<!--<li><a href="{{ site.url }}/Notes/Biology/">Apuntes de biología</a></li>-->
			</ul>
		</nav>