		{% include G-HBar.html %}
		<nav id="NavUl">
			<ul id="MainUl">
				<li><a href="{{ site.url }}/Code/Karel/Principio/Karel/">Karel</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MKarel"></i></li>
				<li><a href="{{ site.url }}/Code/C++/Lenguaje/">C++</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MC"></i></li>
				<li><a href="{{ site.url }}/Code/Recursos/Descargables/">Recursos</a></li>
				<li><a href="#">Más de #iP</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MMIP"></i></li>
			</ul>

			<ul id="MKarel">
				<li><a href="{{ site.url }}/Code/Karel/Principio/Karel/">Para empezar</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MKStart"></i></li>
				<li><a href="{{ site.url }}/Code/Karel/Instrucciones/Lineales/">Instrucciones</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MKIns"></i></li>
				<li><a href="{{ site.url }}/Code/Karel/Funciones/">Funciones</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Problemas/">Problemas de Karel</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Recursion/">Recursión</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MKRec"></i></li>
				<li><a href="{{ site.url }}/Code/Topicos-adicionales/Karel/">Tópicos adicionales</a></li>
			</ul>

			<ul id="MKStart">
				<li><a href="{{ site.url }}/Code/Karel/Principio/Karel/">Karel el robot</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Principio/Mundo/">Mundo de Karel</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Principio/Zumbadores/">Zumbadores</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Principio/Simulador/">El simulador</a></li>
			</ul>
			<ul id="MKIns">
				<li><a href="{{ site.url }}/Code/Karel/Instrucciones/Lineales/">Lineales</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Instrucciones/Condicionales/">Condicionales</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Instrucciones/Ciclicas/">Ciclicas</a></li>
			</ul>
			<ul id="MKRec">
				<li><a href="{{ site.url }}/Code/Karel/Recursion/Simple/">Recursión simple</a></li>
				<li><a href="{{ site.url }}/Code/Karel/Recursion/Parametros/">Recursión con parámetros</a></li>
			</ul>

			<ul id="MC">
				<li><a href="{{ site.url }}/Code/C++/Introduccion/">Introducción</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MCInt"></i></li>
				<li><a href="{{ site.url }}/Code/C++/STL/">STL</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MCSTL"></i></li>
				<li><a href="{{ site.url }}/Code/C++/Recursion/">Recursión</a></li>
				<li><a href="{{ site.url }}/Code/Problemas-resueltos/C++/">Problemas resueltos</a></li>
				<li><a href="{{ site.url }}/Code/Topicos-adicionales/C++/">Tópicos adicionales</a></li>
			</ul>
			<ul id="MCInt">
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Compilador/">Compilador</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Variables/">Variables</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Librerias/">Librerías</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Operadores/">Operadores</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Funciones/">Funciones</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Sentencias/">Sentencias</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Arreglos/">Arreglos</a></li>
				<li><a href="{{ site.url }}/Code/C++/Introduccion/Estructuras/">Estructuras</a></li>
			</ul>
			<ul id="MCSTL">
				<li><a href="{{ site.url }}/Code/C++/STL/Vector/">Vector</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/String/">String</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/Queue/">Queue</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/Stack/">Stack</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/List/">List</a></li>
				<li><a href="{{ site.url }}/Code/C++/STL/Pair/">Pair</a></li>
			</ul>
			
			<ul id="MMIP">
				<li><a href="{{ site.url }}/Acerca-de/">Acerca de</a></li>
				<li><a href="#">Cursos</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MCur"></i></li>
				<li><a href="{{ site.url }}/Contacto/">Contacto</a></li>
				<li><a href="{{ site.url }}/Motivacion/">¡Motivate!</a></li>
				<li><a href="{{ site.url }}/Blog/">Blog</a></li>
			</ul>
			<ul id="MCur">
				<li><a href="{{ site.url }}/Code/">Olimpiada de Informática</a></li>
				<li><a href="{{ site.url }}/Biology/">Apuntes de biología</a></li>
			</ul>
		</nav>