		{% include G-HBar.html %}
		<nav id="NavUl">
			<ul id="MainUl">
				<li><a href="{{ site.url }}/Acerca-de/">Acerca de</a></li>
				<li><a href="#">Cursos</a><i class="fa fa-caret-down" aria-hidden="true" data-son="MCur"></i></li>
				<li><a href="{{ site.url }}/Contacto/">Contacto</a></li>
				<li><a href="{{ site.url }}/Blog/">Blog</a></li>
			</ul>

			<ul id="MCur">
				<li><a href="{{ site.url }}/Code/">Olimpiada de Informática</a></li>
				<li><a href="{{ site.url }}/Biology/">Apuntes de biología</a></li>
			</ul>
		</nav>