		{% include G-HBar.html %}
		<nav id="NavUl">
			<span id="MenuBackArr"><i class="fas fa-arrow-left"></i></span>
			<ul id="MainUl">
				<li><a href="{{ site.url }}/Acerca-de/">Acerca de</a></li>
				<li data-son="MCur"><span>Cursos</span><i class="fas fa-caret-down"></i></li>
				<li><a href="{{ site.url }}/Contacto/">Contacto</a></li>
				<li><a href="{{ site.url }}/Blog/">Blog</a></li>
				<li data-son="MAcc" id="MUSCtrl"><span id="MUNDysp">Mi cuenta</span><i class="fas fa-caret-down"></i></li>
			</ul>

			<ul id="MCur">
				<li><a href="{{ site.url }}/Code/">Olimpiada de Informática</a></li>
				<li><a href="{{ site.url }}/Notes/">Apuntes de biología</a></li>
			</ul>

			<ul id="MAcc0">
				<li><a href="{{ site.url }}/Iniciar-sesion/">Iniciar sesión</a></li>
				<li><a href="{{ site.url }}/Registro/">Registro</a></li>
			</ul>

			<ul id="MAcc1">
				<li><a href="{{ site.url }}/Perfil/">Perfil</a></li>
				<li><a href="{{ site.url }}/Perfil/Configuracion/">Configuración</a></li>
				<li><span id="MLogOut">Cerrar sesión</span></li>
			</ul>
		</nav>