		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="{{ site.url }}/Recursos/JS/jquery-1.8.2.min.js"></script>
		<script src="{{ site.url }}/Recursos/JS/jpreloader.min_.js"></script>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				"HTML-CSS": {
					scale: 80
				}
			});
		</script>
		<script type="text/javascript" async
		  src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
		</script>
		<link rel="shortcut icon" href="{{ site.url }}/Recursos/Multimedia/Logo.ico">
		<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

		<link rel="stylesheet" type="text/css" href="{{ site.url }}/Recursos/CSS/Universal.css">
	  	<link rel="stylesheet" type="text/css" href="{{ site.url }}/Recursos/CSS/BarraM.css">
	  	<link rel="stylesheet" type="text/css" href="{{ site.url }}/Recursos/CSS/Pie.css">
	  	<link rel="stylesheet" type="text/css" href="{{ site.url }}/Recursos/CSS/Globos.css">