		<link rel="stylesheet" type="text/css" href="{{ site.iP-Sources }}/CSS/Poetry/Global.css">
		<link rel="stylesheet" type="text/css" href="{{ site.iP-Sources }}/CSS/Poetry/Header.css">
		<link rel="stylesheet" type="text/css" href="{{ site.iP-Sources }}/CSS/Poetry/HMultibtn.css">
		<link rel="stylesheet" type="text/css" href="{{ site.iP-Sources }}/CSS/Poetry/Footer.css">
		<link rel="stylesheet" type="text/css" href="{{ site.iP-Sources }}/CSS/Poetry/Code.css">

		<script src="{{ site.iP-Sources }}/JS/Poetry/Loader.js"></script>