<div class="btn-multi">
	<input type="checkbox" id="multi-btn" name="multi-btn" />
	<label for="multi-btn" id="lgrande"></label>
	<label for="multi-btn" id="botonsitos">
		<span class="btn btn-circle">
			<a href="{{ site.url }}/{{ include.destino }}/" title="Ir al inicio"><i class="fas fa-home icon"></i></a>
		</span>
		<span class="btn btn-circle">
			<a href="{{ site.url }}/Blog/Contacto/" title="Contacto"><i class="fa fa-comment icon"></i></a>
		</span>
		<span class="btn btn-circle">
			<a href="{{ site.url }}" title="Volver a #iP"><i class="fas fa-code icon"></i></a>
		</span>
		<span class="btn btn-circle"><i class="fas fa-plus icon"></i></span>
		<i class="fas fa-bars icon"></i>
	</label>
</div>