{% assign link = "" %}
{% assign subject = "" %}
{% assign Note = "" %}

{% if page.url contains "Poetry/" %}
	{% assign subject = "poetry" %}
	{% assign Note = "La ciencia de la poesía, la poesía de la ciencia" %}
	{% assign link = "Poetry" %}
{% endif %}
{% if page.url contains "Blog/" %}
	{% assign subject = "blog" %}
	{% assign Note = "Fuera del código" %}
	{% assign link = "Blog" %}
{% endif %}

		<header class="{{ include.nivel }}" id="HMain">
			<section>
				<a href="{{ site.url }}/{{ link }}/">
					<span class="Inco">#include</span>
					<span class="Fre">&lt;{{ subject }}&gt;</span>
				</a>
			</section>
			<h4>/* {{ Note }} */</h4>
			{% if include.nivel contains "HOficial" %}
				{% include P-HMultibtn.html destino = link %}
			{% endif %}
		</header>