{% comment %}
Este include necesita dos parámetros:
'coleccion' -> El sitio de donde se extraen los posts
'pagina' 	-> El vinculo para los tags
{% endcomment %}

{% assign orden = "true" %}
{% if orden == "true" %}
	{% assign items = include.coleccion | sort: 'date' %}
{% endif %}

<ul id="PostsList">
	{% for post in items reversed %}
		<li>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<small>
				{% assign words = post.content | number_of_words %}
				{% include U-FechaEsp.html fecha=post.date %}    
				{% include U-TiLec.html palabras=words%} | 
				<i class="fas fa-user"></i> {{ post.author }}
			</small>

			{{ post.excerpt }}

			{% for tag in post.tags %}
				<a class="TagPost" href="{{ site.url }}/{{ include.pagina }}/Tags/#{{ tag | slugify }}"><i class="fas fa-tag"></i> {{ tag }}</a>
			{% endfor %}
		</li>
	{% endfor %}
</ul>