<div class="Pie">
	<img id="PCielo" src="{{ site.url }}/Recursos/Multimedia/PCielo.png" width="100%">
	<div id="Movile">
		<a href="{{ site.url }}/Contacto/">Contacto</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="mailto:includepoetry@gmail.com">Correo</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="{{ site.url }}/">Inicio</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;
		<a href="{{ site.url }}/Acerca-de/">Acerca de</a>
	</div>
	<div id="PCiudad">
		<img src="{{ site.url }}/Recursos/Multimedia/Pie/Ciudad.png" width="100%">
	</div>
	<div id="PTextos">
		<div class="PBloque">
			<div class="PTitulo">
				Contacto
			</div>
			<div class="PTexto">
				<a href="mailto:includepoetry@gmail.com">Correo</a>
				<a href="{{ site.url }}/Contacto/">Contacto</a>
			</div>
		</div>
		<div class="PBloque">
			<div class="PTitulo">
				Sobre el sitio
			</div>
			<div class="PTexto">
				<a href="{{ site.url }}/Acerca-de/">Acerca de</a>
				<a href="{{ site.url }}/Presentacion/">Manual</a>
			</div>
		</div>
		<div class="PBloque">
			<div class="PTitulo">
				Para el lector
			</div>
			<div class="PTexto">
				<a href="{{ site.url }}/Motivacion">Motivate</a>
				<a href="{{ site.url }}/Recursos/Descargables/">Recursos</a>
			</div>
		</div>
		<div class="PBloque" id="PBUltimo">
			<div class="PTitulo">
				Temas
			</div>
			<div class="PTexto">
				<a href="{{ site.url }}/Karel/Principio/Karel">Karel</a>
				<a href="{{ site.url }}/C/">C/C++</a>
			</div>
		</div>
		<div id="PIzq">
			<img id="PLogoB" src="{{ site.url }}/Recursos/Multimedia/Include Poetry.png">
			Proudly hosted by:
			<a href="https://github.com/" target="_blank"><img id="PGit" src="{{ site.url }}/Recursos/Multimedia/Git.png"></a>
		</div>
	</div>
	<div id="PFirma">
		#Include Poetry 2016 | Todos los derechos reservados | Otra obra de rivel_co
	</div>
</div>