		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/ace.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/ext-settings_menu.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/mode-c_cpp.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/mode-html.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/worker-html.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/mode-markdown.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/mode-python.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/mode-karelp.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/mode-karelj.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/mode-plain_text.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/theme-monokai.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/theme-karel.js"></script>
		<script src="{{ site.iP-Sources }}/JS/Universal/Ace/ace-config.js"></script>