    <script src="https://www.gstatic.com/firebasejs/3.7.8/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyAnqIE_B_xUVfliS7kNeppPRtzjJNcWAUQ",
            authDomain: "include-poetry.firebaseapp.com",
            databaseURL: "https://include-poetry.firebaseio.com",
            projectId: "include-poetry",
            storageBucket: "include-poetry.appspot.com",
            messagingSenderId: "496614199021"
        };
        firebase.initializeApp(config);
    </script>