---
layout: P-Main
title: Posts
description: Sigue de cerca lo que pasa en iP en el blog oficial
---

{% include P-PostList.html pagina = "Blog" coleccion = paginator.posts %}

{% if paginator.total_pages > 1 %}
<div class="Paginacion">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}">Más recientes</a>
	{% else %}
		<span class="pNone">Más recientes</span>
	{% endif %}
	<span>{{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}">Más antiguas</a>
	{% else %}
		<span class="pNone">Más antiguas</span>
	{% endif %}
</div>
{% endif %}