---
layout: General
title: Tópicos adicionales Karel
---

<ul id="ListaTemas">
  {% for topico in site.Topicos-Karel %}
    <li>
	    <div class="Subtitulo"><a href="{{ topico.url }}">{{ topico.title }}</a></div>
	    <int>Por: {{ topico.author }}</int>
	    
	    {{ topico.excerpt }}

	    {% for tag in topico.tags %}
            <a class="TagPost" href="{{ site.url }}/Topicos-adicionales/Karel/Tags/#{{ tag | slugify }}"><i class="fa fa-tag"></i> {{ tag }}</a>
        {% endfor %}
    </li>
  {% endfor %}
</ul>